
.contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 500px 1fr 50px;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer";
}

.header{
    grid-area: header;

}

.main{
    grid-area: main;
}

.section {
    grid-area: section;
    display: grid;
    grid-template-rows: minmax(50px 1fr) 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}

.article{
    display: grid;
    grid-template-rows: 50px minmax(150px, 1fr);
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "uno dos tres cuatro";
    margin: 1%;
    column-gap: 1%;
}

    .titulo {
        grid-area: titulo;
    }

    .uno{
        grid-area: uno;
    }

    .dos{
        grid-area: dos;
    }

    .tres{
        grid-area: tres;
    }

    .cuatro{
        grid-area: cuatro;
    }


.footer{
    grid-area:footer;
}

.contenedor-ficha{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "texto-ficha lista-ficha";
}

.texto-ficha{
    grid-area: texto-ficha;
}

.lista-ficha{
    grid-area: lista-ficha;
}