:root {
    --rosa-palido: rgb(255,115,115);
    --rojo-oscuro: rgb(85, 46, 42);
    --amarillo: rgb(250,179,72); 

    --japones:  'Noto Sans JP', sans-serif;
    --textos: 'Montserrat', sans-serif;
}
